table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  th {
    cursor: pointer;
  }
  button{
      padding: 8px;
      width: 40px;
  }
 
  .pagination{
      display: flex;
      justify-content: center;
  }
  .pagination button {
    padding: 5px 10px;
    cursor: pointer;
  }


